<!DOCTYPE html>
<html lang="en" data-ng-app="myApp">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>E-commerce</title>
    <script src="./scripts/angular.js"></script>
    <script src="./scripts/angular-route.js"></script>
    <link href="/styles.css" rel="stylesheet" />
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script> -->
    <!-- CSS only -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor"
      crossorigin="anonymous"
    />

    <!-- JavaScript Bundle with Popper -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
      crossorigin="anonymous"
    ></script>
  </head>
  <body ng-controller="homepageController">
    <!-- Navbar Start -->
    <nav class="navbar navbar-expand-lg bg-light">
      <div class="container-fluid">
        <a class="navbar-brand" href="#/">E-commerce</a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#/">Categories</a>
            </li>
           
          </ul> 
         <div class="col-lg-3 col-md-4 col-sm-10">
            <input
              class="form-control border-primary ml-4"
              type="search"
              placeholder="Search"
              aria-label="Search"
              data-ng-model="categorySearch"
            />
          </div> 
         
        </div>
      </div>
    </nav>
    <!-- Navbar End -->
    <div class="container-fluid">
      <div data-ng-view=""></div>
    </div>


    <script src="scripts.js"></script>
    <script src="/services/getAPIData.js"></script>
    <script src="/services/getProductData.js"></script>
  </body>
</html>
