<span ng-if="!APIData">
  <span ng-if="!apiError">
  <div ng-include="'/components/loader.html'"></div>  
</span>
</span>
<span ng-if="blankAPIData">
  <div ng-include=" '/components/noDataFromApi.html' "></div>
</span>
<span ng-if="apiError">
  <div ng-include=" '/components/apiError.html' "></div>
</span>
<div
        class="container col-lg-12 col-md-12 col-sm-12 d-flex flex-wrap "
        ng-if="APIData"
      >
       
        <div class="card mt-2 col-lg-3 col-md-4 col-sm-12  d-flex flex-column align-items-center"  ng-repeat="product in APIData | filter: categorySearch">
            <img src={{product.image}} class="card-img-top img-fluid" style="height:10rem; width:10rem" alt="product">
            <div class="card-body vw-sm-100 d-flex flex-column justify-content-between ">
              <h5 class="card-title">{{product.title}}</h5>
              <h6 class="card-text fw-bold">$ {{product.price}}</h6>
              <p class="card-text fs-6">{{product.rating.rate}} stars by {{product.rating.count}}</p>
              <a href="#/{{product.id}}" class="btn btn-primary" >Show details</a>
            </div>
          </div>
      </div>