<!-- HTML loader -->
<div class="container-fluid d-flex flex-column justify-content-center align-items-center">
<div class="spinner-border m-5" role="status">
</div>
<h2 class="myClass">Loading...</h2>
</div>
