<!-- It there is no data from API -->
<div class="container-fluid d-flex flex-column justify-content-center align-items-center">
    <h3 class="text-danger">Something went wrong.<br /> No API Data</h3>
</div>