<span ng-if="!productData">
  <span ng-if="!apiError">
    <div ng-include="'/components/loader.html'"></div>  
  </span>
</span>
<span ng-if="blankAPIData">
  <div ng-include=" '/components/noDataFromApi.html' "></div>
</span>
<span ng-if="apiError">
  <div ng-include=" '/components/apiError.html' "></div>
</span>
<h5 class="fw-bold"><a href="#/" class="text-dark text-decoration-none"> < Back </a></h5>
<div
ng-if="productData.id"
  class="container-fluid d-flex flex-column flex-md-row col-lg-10 col-md-11 col-sm-12 mt-3 justify-content-between"
>
  <img
    src="{{productData.image}}"
    class="img-fluid col-lg-4 col-md-5 col-sm-12"
    alt="product"
  />

  <div class="col-lg-6 col-md-6 col-sm-12 d-flex flex-column">
    <small class="text-secondary text-end">{{productData.category}}</small>
      <h2 class="text-primary">{{productData.title}}</h2>
    <h3 class="text-dark fw-bold"> $ {{productData.price}}</h3>
    <p>{{productData.description}}</p>
    
    <div class="container col-12 d-flex justify-content-between">
        <button class="btn col-5 btn-primary">Buy Now</button>
        <button class="btn col-5 btn-warning">Add to Cart</button>
    </div>
  </div>
</div>
<h6 class="m-4">Rated {{productData.rating.rate}} stars by {{productData.rating.count}}</h6>

